.header {
    width: 100%;
    height: 100px;
    display: flex;
    padding: 10px 0px;
    background-color: rgba(248, 248, 248, 1.0);
    align-content: center;
}

.title {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: lowercase;
    padding: 20px 0;
}

.title-suffix {
    font-weight: 700;
    color: #999;
}

.date-container {
    display: flex;
    flex: 1;
}

.date {
    font-size: 32px;
    letter-spacing: 3px;
    margin-left: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}

.date-info {
    color: #888;
}

.circle-num {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.circle {
    border: 4px solid;
    height: 80px;
    width: 80px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #1aaaba;
}

    .circle p {
        font-size: 42px;
        font-weight: 700;
        color: #1aaaba;
        font-family: 'Quicksand', sans-serif;
    }

.nav {
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
}

    .nav li {
        list-style-type: none;
        display: inline-block;
        font-family: 'Quicksand', sans-serif;
        text-transform: lowercase;
        font-size: 20px;
        font-weight: 100;
        letter-spacing: 1px;
        margin: 4px 10px;
        cursor: pointer;
    }


    .nav li {
        text-decoration: none;
        color: #333;
    }

        .nav li:hover {
            color: #1aaaba;
        }


@media screen and (max-width: 1650px) {

    .date {
        font-size: 24px;
    }
}

@media screen and (max-width: 1540px) {

    .date-container {
        display: none;
    }

    .header{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 680px) {
*{
    padding: 0;
    margin: 0;
}

    .main-title{
        flex: 1;
    }
    .header{
        min-height: 200px;
        padding-bottom: 0;
    }

    .nav {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        min-height: 120px;
    }

        .nav ul {
height: 100%;
display: flex;
flex-direction: column;
        }

        .nav li {
            min-width: 680px;

            margin: 0;
            padding: 0;
            text-align: center;
            line-height: 30px;
        }


            .nav li:hover {
                background-color: rgb(238, 238, 238);
                color: #1aaaba;
            }
}